
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Bombom</title>
</head>
<body>
    <h1>Sonho meu</h1>
    {% for crush in crushs %}
        <div>
            <img src="{{ crush.foto.url }}" alt="">
            <h2>{{ crush.nome }}</h2>
            <p>{{ crush.signo }}</p>
            <p>{{ crush.qualidadde }}</p>
        </div>
    {% endfor %}
</body>
</html>